%table{style: 'width: 100%'}
  %tr
    %td{style: 'width: 350px; vertical-align: top;'}
      = render 'uw_coordinator/validations/partials/logo'

    %td{style: 'text-align:right'}
      = render 'layouts/shared/loan_header'

  %tr
    %td &nbsp;
    %td &nbsp;
