.rake_tasks~
.bundle
.idea
db/*.sqlite3
db/schema.rb
log/*.log
tmp/
.DS_Store
.idea
.sass-cache/
public/assets/
public/system/
public/storage
vendor/cache/
secure
coverage
.rbenv-version
vendor/bundle
node_modules/
db/migrate/*.tss_engine.rb
.ruby-version
.rspec
.powrc
.rvmrc
.env
.powenv
junit_results.xml
node_modules/
