.page-header
  %h2 Loan Modelers

= form_tag [:search, :closing, :loan_modelers], method: 'get', class: 'well form-search' do
  = text_field_tag :loan_id, nil, placeholder: 'Loan ID', class: 'search-query'
  = submit_tag "Display Loan", class: 'btn btn-inverse'
