#navigation {
  .navbar {
    .navbar-inner {
      padding-right: 0;
      padding-left: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    ul.secondary-nav {
      float: left;
      
      li {
        ul {
          right: 0.1 !important;
        }
      }
    }
  }
}

#navigation-secondary {
  
  margin-top: 0;
  
  .navbar {
    position: relative;
    margin: 0 -20px;
  }

  .tabs {
    margin: 0 0 5px;
  }
}