.lead 5. Asset Information

%table.table.table-bordered
  %thead
    %tr
      %th Total Funds Needed to Close
  %tbody
    %tr
      %td= number_to_currency @loan.loan_general.transaction_detail.total_funds_required_to_close
