%p
%p{style: "font-family: Verdana, Geneva, sans-serif;"} Please contact Client Services at 855-926-2400, Option 1, Option 2, with any questions.

%h5{style: "font-size:18px; color:#FF0000;padding:0;margin:0;"} MB Client Services
%br/
%span
  Email:
  = mail_to "MBLEReview@mbmortgage.com"
  %br/
  Phone:
  %strong 855.926.2400, Option 1, Option 2