%table.table.table-condensed.table-bordered.table-striped.small-header
  %tr
    %th Initial App Date
    %th LTV
    %th CLTV
    %th HCLTV
    %th Asset Req $
    %th Asset Verified $
    %th Non-Housing Debt $
  %tr
    %td
    %td= @loan.ltv
    %td
    %td
    %td
    %td
    %td