- link_options = {action: 'export', format: controller.delivery_export_type, record_id: record.id}
= link_to link_options, class: 'btn btn-inverse' do
  %i{:class => 'icon-download icon-white'}
  = "Export for Delivery"
