%h2.page-header
  Hi


.foo{"ng-controller" => 'ChecklistExperimentCtrl'}
  %span.orange-spinner{"ng-show" => "loading", "style" => "padding-top: 32px; padding-left: 40px;"}
  %closing-checklist{"loan-number" => '1000757', questions: 'questions'}

