// General Styles
html, body {
  margin:   0;
  padding:  0;
  outline:  0;
  border:   0;
  height:   100%;
  position: relative;
  text-align: left;
}

@import 'screen/partials/general_styles';
@import 'screen/partials/navigation.css.scss';

// I can't find any such file -- Greg
// @import 'partials/main.css.scss';

@import 'screen/partials/footer.css.scss';
