= render 'closing/loan_modeler_pre_trids/partials/top_and_search'

= render 'closing/loan_modeler_pre_trids/partials/loan_header'

= render 'closing/loan_modeler_pre_trids/partials/modeler'

.page-break