/ Navigation
/ ==================================================
#navigation{:role => "navigation"}
  = render :partial => '/layouts/navigation/topbar'
  
  

= render :partial => '/layouts/last_transaction'
/ = render :partial => '/layouts/navigation/secondary'

/#navigation-pills.container
/  .pills
/  = render :partial => '/layouts/navigation/pills'
