!!!
%html
  %head
    = wicked_pdf_stylesheet_link_tag "pdf"
    = wicked_pdf_stylesheet_link_tag "allonges"
    -#= wicked_pdf_javascript_include_tag "pdf"

  %body
    .container-fluid
      = yield
